body {
    margin: 0 auto;
}

header {
    height: 150px;
    background-color: coral;
}

#minha-formatacao-unica {
    color: black;
}

nav {
    background-color: crimson;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}      

nav ul li a {
    padding: 8px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul li a:hover {
    background-color: darkgreen;
}

aside {
    background-color: darkmagenta;
    float: right;
}

section {
    width: 65%;
    padding: 10px;
}

article {
    background-color: #c3c3c3;
    margin: 10px;
    padding: 10px;            
}

footer {
    clear: both;
    height: 200px;
    background-color: bisque;
}

.clear{
    clear: both;
}